<% provide(:title, "Leading evidence-based study tool") %>
<%= render 'layouts/header' %>
<%= render 'shared/flash' %>
<div class="jumbotron">
  <h1 class="display-4">Built for students</h1>
  <p class="lead">studywithme.ai is a study tool based on leading evidence-based research.</p>
</div>
<div>
  <h1>What do you think is the best way to study?</h1>
  <p>Insert poll here</p>
</div>