<p>We heard that you lost your studywithme.ai password. Sorry about that!</p>

<p>But don’t worry! You can use the following link to reset your password:</p>

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>If you don’t use this link within 3 hours, it will expire. To get a new password reset link, visit studywithme.ai/password_resets/new</p>

Thanks,
Shawn